<div class="container">

    <div class="jumbotron">
        <h1>Welcome to</h1>
        <h1>Eat-Da-Burger</h1>
        <p>Order the Burgers. Then Eat the Burgers</p>
        <br>
        <h2>Make Your Own Burger</h2>
        <panel>
            <form class="burger-form">
                <div class="form-group">
                    <label for="newBurger">Enter Your Burger Name to Order From the Chef</label>
                    <br>
                    <input type="text" id="newBurger" name="burger">
                    <button type="submit" class="btn btn-danger" id="addBurger">
                        <span class="fas fa-hamburger"></span> Send To The Chef
                    </button>
                </div>
            </form>
        </panel>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-heading" id="leftside"><strong>Burger Is Ready</strong></div>
                <br>
                <div class="card-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fas fa-teeth-open"></span>Devour It</button>

                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-heading" id="rightside"><strong>Devoured Burgers</strong></div>
                <br>
                <div class="card-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong>{{this.id}}- {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fas fa-trash"></span>Trash It</button>

                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>
    </div>
</div>